aiohttp==3.2.1
amqp==2.4.2
asgiref==3.1.2
async-timeout==3.0.0
attrs==18.1.0
autobahn==19.3.3
Automat==0.7.0
Babel==2.6.0
beautifulsoup4==4.7.1
billiard==3.6.0.0
bs4==0.0.1
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
debtcollector==1.21.0
dj-database-url==0.5.0
Django==2.0
django-channels==0.7.0
django-classy-tags==0.8.0
django-cms==3.6.0
django-filer==1.4.4
django-formtools==2.1
django-js-asset==1.2.2
django-mptt==0.10.0
django-polymorphic==2.0.3
django-sekizai==1.0.0
django-treebeard==4.3
django-yaturbo==0.2.1
djangocms-admin-style==1.4.0
djangocms-attributes-field==1.1.0
djangocms-column==1.9.0
djangocms-file==2.2.0
djangocms-flash==0.3.0
djangocms-googlemap==1.2.0
djangocms-inherit==0.2.2
djangocms-link==2.4.0
djangocms-picture==2.1.3
djangocms-style==2.1.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.7.0
djangocms-video==2.1.1
djangorestframework==3.9.2
dnspython==1.16.0
easy-thumbnails==2.6
eventlet==0.24.1
fasteners==0.14.1
greenlet==0.4.15
html5lib==1.0.1
HTMLParser==0.0.2
httpie==1.0.2
hyperlink==19.0.0
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
iso8601==0.1.12
itypes==1.1.0
Jinja2==2.10.1
kombu==4.5.0
MarkupSafe==1.1.1
monotonic==1.5
msgpack==0.6.1
multidict==4.3.1
netaddr==0.7.19
netifaces==0.10.9
oauthlib==3.0.1
os-win==4.2.0
oslo.concurrency==3.29.1
oslo.config==6.9.0
oslo.context==2.22.1
oslo.i18n==3.23.1
oslo.log==3.43.0
oslo.serialization==2.29.0
oslo.utils==3.41.0
pbr==5.2.0
Pillow==9.0.0
psycopg2==2.8.2
pygame==1.9.3
Pygments==2.3.1
PyHamcrest==1.9.0
PyMI==1.0.4
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
reversion==0.2
rfc3986==1.3.1
six==1.12.0
sorl-thumbnail==12.5.0
soupsieve==1.9.1
South==1.0.2
stevedore==1.30.1
telepot==12.7
toml==0.10.0
txaio==18.8.1
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.22
vine==1.3.0
virtualenv==16.3.0
virtualenvwrapper-win==1.2.5
webencodings==0.5.1
WMI==1.4.9
wrapt==1.11.1
yarl==1.2.4
zope.interface==4.6.0
